body
{
    font-size: larger;
}

/* div's Class & ID */
.Title
{
    margin: 20px;
    font-weight: bold;
    color: blue;
}

#VehicleList
{
    margin-left: 20px;
}

#DistanceForm
{
    margin-left: 20px;
}

/* Buttons */
.Button
{
    margin: 20px 10px;
    background-color: aqua;
    border: thick solid 5;
}

.ButtonOff
{
    margin: 20px 10px;
    background-color: red;
    border: thick solid 5;
}

/* Vehicles CSS */
.VehicleType
{
    font-weight: bold;
}

.VehicleTypePlane
{
    text-decoration: underline;
    font-weight: normal;
    color: red;
}

.VehicleTypeBike
{
    background-color: seagreen;
}