body
{
    font-size: larger;
}

.Title
{
    margin: 20px;
    font-weight: bold;
    color: blue;
}

.Button
{
    margin: 20px 10px;
    background-color: aqua;
    border: thick solid 5;
}

.ButtonOff
{
    margin: 20px 10px;
    background-color: red;
    border: thick solid 5;
}

.VehicleType
{
    font-weight: bold;
}

.VehicleTypePlane
{
    text-decoration: underline;
    font-weight: normal;
    color: red;
}

.VehicleTypeBike
{
    background-color: seagreen;
}