body
{
    font-size: larger;
}

#RaceBoard
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
}

/* div's Class & ID */
.RaceInformation
{
    width: fit-content;
    border: solid;
    border-color: black;
    margin-bottom: 20px;
}

.TitleInformation
{
    display: flex;
    justify-content: space-around;
}

.DivInformation
{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

#NoticeBoard
{
    width: fit-content;
    border: solid;
    border-color: black;
}

.NoticeBoardTitle
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-weight: bold;
    color: blue;
}

#VehicleList
{
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 30px;
}

#DistanceForm p
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Buttons */
.Button
{
    margin: 20px 10px;
    background-color: aqua;
    border: thick solid 5;
}

.ButtonOff
{
    margin: 20px 10px;
    background-color: red;
    border: thick solid 5;
}

/* Vehicles CSS */
.VehicleType
{
    font-weight: bold;
}

.VehicleTypePlane
{
    text-decoration: underline;
    font-weight: normal;
    color: red;
}

.VehicleTypeBike
{
    background-color: seagreen;
}